<% include ../partials/header %>
<% include ../partials/menu %>
	<div class="container">
		<br>
		<div class="row">
			<div class="col-4">
				<div class="card">
				<!-- TODO: Modify the ejs code below, to conditionally set the image_src to be from our chosen player -->
				  <%
				  var image_src = '../resources/img/helmet.jpg';

				  %>
				 <img class="card-img-top" id="player_img" src= "<%- image_src %>" alt="Image of Football Player">
				  <div class="card-body mx-auto">
					<form class="form"action="/player_info/post" method="get">
						<select class="custom-select" name="player_choice" onchange="this.form.submit()">
							 <option selected>Select Player</option>
							 <%
				 				if (dataInfo) {
				 				    var options = '';
				 					dataInfo.forEach(function(itemInfo){
				 				  		 options += '<option name=\"player_selection\" value=\"' + itemInfo.id + '\">' + itemInfo.name + '</option>';
				 				  	 });%>
				 				  	 <%- options %>
				 			<% } %>
						</select>
					</form>
				  </div>
				</div>
			</div>
			<div class="col-8">
				<div class="table-responsive">
					<table class="table">
						<tr>
							<!-- TODO: Set Player Information
							 			If a player has been selected, fill in their information in each of the fields below.
							 		    You'll need to calculate here the player's average rushing, receiving, and passing yards.-->
											<%
											if (dataAll) {
													var player_year = '';
													var player_major = '';
													var player_passing = '';
													var player_rushing = '';
													var player_receiving = '';
												dataAll.forEach(function(itemAll){
														 player_year = itemAll.year;
														 player_major = itemAll.major;
														 player_passing = itemAll.passing_yards;
														 player_rushing = itemAll.rushing_yards;
														 player_receiving = itemAll.receiving_yards;
													 });%>
										<% } %>

										<%
										if (dataTotal) {
												var player_games = '';
												var player_avg_passing = '';
												var player_avg_rushing = '';
												var player_avg_receiving = '';
											dataTotal.forEach(function(itemTotal){
													 player_games = itemTotal.count;
													 player_avg_passing = player_passing / player_games;
													 player_avg_rushing = player_rushing / player_games;
													 player_avg_receiving = player_receiving / player_games;
												 });%>
									<% } %>

							<th>Year</th>
							<td><%- player_year %></td>
						</tr>
						<tr>
							<th>Major</th>
							<td><%- player_major %></td>
						</tr>
						<tr>
							<th>Games Played</th>
							<td><%- player_games %></td>
						</tr>
						<tr>
							<td>Passing Yards: <%- player_passing %></td>
							<td>Avg. Passing Yards: <%- player_avg_passing %></td>
						</tr>
						<tr>
							<td>Rushing Yards: <%- player_rushing %></td>
							<td>Avg. Rushing Yards: <%- player_avg_rushing %></td>
						</tr>
						<tr>
							<td>Receiving Yards: <%- player_receiving %></td>
							<td>Avg. Receiving Yards: <%- player_avg_receiving %></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>

<% include ../partials/footer %>
